
/* ------------------------- */
.labelContainer > h3{
    font-size: 14px;
}

.grid{
    margin-top: 2%;
    display: grid;
    grid-auto-columns: 1fr 4fr;
    grid-auto-flow: column;
    align-items: center;
}
 
input , textarea{
    padding: 1%;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    resize: none;
    float: right;
    margin-right: 2% !important;
    width: 98%;
    border-radius: 3px;
}

.xs{
    height: 30px;
    margin-top: -2%;
}
.errors>*{
    font-size: 13px;
    color: red;
}
.bottomContainer{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}
.bottomContainer > button{
    margin-right: 25px;
    width: 12%;
    height: 100%;
    border-radius: 5px;
}
.bottomContainer>.cancel{
    background-color: transparent;
    color: #00000085;
    border: 1px solid #E5E5E5;
}
.blackline{
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 10px;
}