<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bf_base.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../assets/base.css">
    <link rel="stylesheet" href="../assets/linearicons/cpIcons.css">
    <link rel="stylesheet" href="../assets/addPosts.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../../../../../scripts/buildfire.js"></script>
    <script src="../../../widget/data/Errors.js"></script>
    <script src="../../../widget/data/Post.js"></script>
    <script src="./formValidation.js"></script>
    <script src="../../../widget/dataAccess/Posts.js"></script>
</head>
<body>
    <div class="titleContainer">
        <h1 class="title">Add Post</h1> 
      </div>
    <div class="grid">
        <div class="left">
            <div class="labelContainer">
                <h3>Title<span style="color: red;"> *</span></h3>
            </div>
        </div>
        <div class="right">
            <div class="inputContainer" >
                <div class="input">
                    <input type="text" id="title" oninput="checkIfCanSubmit()">
                </div>
            </div>
        </div>
    </div>

    <div class="grid" style="align-items: flex-start;margin-bottom: 14%;">
        <div class="left">
            <div class="labelContainer">
                <h3>Description<span style="color: red;"> *</span></h3>
            </div>
        </div>
        <div class="right">
            <div class="inputContainer" >
                <div class="input">
                    <textarea id="description" cols="30" rows="5" oninput="checkIfCanSubmit()"></textarea>
                </div>
            </div>
        </div>
    </div>




    <div class="bottomContainer">
        <button class="btn btn-secondary btn-outlined" onclick="goBack()">Cancel</button>
        <button class="btn btn-success" id="saveButton" disabled onclick="addPost()">Save</button>
    </div>

    <script>

        const addPost = () =>{

            Posts.addPublicPost({postTitle:title.value,postText:description.value},(err,r) =>{
                if(r){
                    window.location.href = "../index.html"
                }   
            })
        }

        const goBack = () =>{
            window.location.href = "../index.html"

        }
    </script>
</body>
</html>