<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../../../../../scripts/buildfire.js"></script>
    <script src="../../../widget/data/Errors.js"></script>
    <script src="../../../widget/data/Post.js"></script>
    <script src="../../../widget/dataAccess/Posts.js"></script>
    <link rel="stylesheet" href="../assets/addPosts.css">
    <script src="./editPost.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="container" class="container hidden">
        <div class="titleContainer">
            <div id="subtitle" class="subtitle">Posts / New Public Post</div>
            <div class="blackline"></div>
            <div class="title">Public Posts</div>
        </div>
    
        <div class="form">
            <div class="row">
                Title* <input placeholder="Enter title" type="text" id="title">
            </div>
            <div class="row">
                Body*  <textarea placeholder="Enter Description" id="description" cols="30" rows="10"></textarea>
            </div>
        </div>
    
        <div class="bottomContainer">
            <button class="cancel" onclick="goBack()">Cancel</button>
            <button class="save btn-success" onclick="addPost()">Save</button>
        </div>
    
    </div>

    <script>

    </script>
</body>
</html>